@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Chathura:100,300,400,700,800|Economica:400,400i,700,700i|Khand:300,400,500,600,700|Londrina+Outline');

/*---------------------Base.html*/
body {
    margin: 0;
    font-family: 'Khand', sans-serif;
    font-size: 20px;
}

.container {
    width: 95% !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #FF5252;
    border-radius: 0px;
}

nav ul a, nav .brand-logo {
    color: black;
    max-height: 64px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif; 
}

.mobile-nav {
    font-size: 20px;
    opacity: 0.9;
}

#sidenav-overlay {
    position: unset;
}

.side-nav {
    width: 200px;
}

nav .brand-logo {
    font-family: 'Bebas Neue', sans-serif; 
    margin-right: 10px;
}

#logo {
    height: 45px;
    width: 45px;
    margin: 8px;
    transition: 0.4s;
    border-radius: .25rem;
}

#logo:hover {
    transform: scale(0.9, 0.9);
}

.underline {
    margin: 0;
    text-decoration-line: underline;
    -webkit-text-decoration-color: #FF5252;
    text-decoration-color: #FF5252;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
}

.row {
    margin: 80px auto;
}

div.alert {
    margin: 10%;
    text-align: center;
}

form {
    margin:0 30% 20%;
}

#payment-form {
    margin: 10% !important;
}

#author {
    margin-left: 5px;
    font-size: 14px;
    color: #A9A9A9;
}

#author a:hover {
    color: #FF5252;
}

#author a {
    color: #134f5cff;
}

/*---------------------Cards*/

.card {
    width: 300px;
    height: 400px;
    margin: 5% auto;
    border-radius: 5px;
}

.card-title {
    font-family: 'Bebas Neue', sans-serif;
    padding: 0 20px;
}

.fav-star {
    position: absolute;
    top: -10px;
    right: -10px;
}

.fav-star button{
    background-color: #134f5cff;
}

.shop-web {
    bottom: 0;
    font-size: 16px;
    padding: 20px;
    position: absolute;
    color: teal;
}

.shop-web:hover {
    color:#FF5252;
}

.initiative-type {
    text-align: right;
    color: white;
}

.initiative-type p {
    padding: 10px;
}

.shop-description {
    padding: 10px 20px;
}


/*--------------Vouchers*/
.voucher {
    width: 800px;
    height: auto;
    border-style: dashed;
    border-color: #134f5cff;
    padding: 5%;
    border-radius: 15px;
    text-align: center;
    margin: auto;
}

#qrcode {
    width: 100%;
    padding: 15%;
}

#recycle-logo {
    height: 120px;
    margin: 15% 0;
}

.voucher h5 {
    padding-top: 15%;
    color: #134f5cff;
    font-weight: bold;
    line-height: 1.5;
}

.voucher span {
    color: #FF5252;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.payment-form {
    width: 500px;
    height: auto;
    margin: 5% auto;
}
