{% extends 'base.html' %}
{% load static from staticfiles %}
{% load materializecss %}

{% block head_js %}

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>

<script type="text/javascript" src="/static/js/stripe.js"></script>
{% endblock %}


{% block content %}
<div class="row row-flex">
    
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">

                <h3>Voucher</h3>

                <form id="payment-form" method="post" action="{% url 'create_voucher' %}">
                    {% csrf_token %}

                    <div id="credit-card-errors" style="display: none;">
                        <div class="alert-message block-message error" id="stripe-error-message"></div>
                    </div>

                    <div class="form-group col-md-6">
                        {{ form | materializecss }}
                    </div>

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Buy</button>
                        </span>
                    </div>

                </form>

            </div>
        </div>
    
</div>
{% endblock %}