{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ecommerce</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <!-- Fixed masthead -->
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper white">
                    <a href="/" class="right brand-logo">circeco.org</a>
                    <a href="/" data-activates="mobile-demo" class="button-collapse"><img id="logo" src="{% static 'img/navbar-logo.jpg' %}" alt="logo"></a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="/"><img id="logo" src="{% static 'img/navbar-logo.jpg' %}" alt="logo"></a></li>
                        <li><a href="{% url 'shops' %}">Circular Shops</a></li>
                        <li><a href="{% url 'choose_voucher' %}">Buy Voucher</a></li>            
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'profile' %}">&nbsp; Profile &nbsp;</a></li>
                                <li><a href="{% url 'logout' %}">&nbsp; Log Out &nbsp;</a></li>
                            {%  else %}
                                <li><a href="{% url 'registration' %}">&nbsp; Register &nbsp;</a></li>
                                <li><a href="{% url 'login' %}">&nbsp; Log In &nbsp;</a></li>
                            {% endif %}
                    </ul>   
                    <!-- Mobile view -->                 
                    <ul class="side-nav" id="mobile-demo">
                        <li>&nbsp; &nbsp;</li>
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'shops' %}">Circular Shops</a></li>
                        <li><a href="{% url 'choose_voucher' %}">Buy Voucher</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'profile' %}">Profile</a></li>
                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                            {%  else %}
                                <li><a href="{% url 'registration' %}">Register</a></li>
                                <li><a href="{% url 'login' %}">Log In</a></li>
                            {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="display">
        </div>
    </div>
    {% block content %} {% endblock %}
    <div id="author">
        <p>@copyright 2020 circeco.org - Made by 
            <a href="https://circeco.github.io/Piero_resume/" target=”_blank”>PieroGrilli</a>
        </p>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>

