{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ecommerce</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <!-- Fixed masthead -->
    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo">CIRCECO</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'shops' %}">Shops</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            {%  else %}
                <li><a href="{% url 'registration' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
            <li>
                <a href="{% url 'view_cart' %}">
                    Cart
                    {% if product_count > 0 %}
                    <label class="badge badge-warning">{{ product_count }}</label>
                    {% endif %}
                </a>
            </li>
        </ul>
        </div>
    </nav>


    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="submit">Search</button>
            </form>
        </div>
        {% block content %} {% endblock %}
    </div>
    <footer>
        <div class="container">
            <p>Circeco.org</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>

