{% extends 'base.html' %}

{% block content %}
<script>
    function toggleFav(btn, shopId, csrf) {
        let x = btn.firstElementChild;
        let isFavourite = x.innerHTML.trim() === "star";
        if (!isFavourite) {
            $.ajax({
                type: "PUT",
                url: `/fav/add/${shopId}/ws`,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrf);
                },
                success: function(data, status, xhr) {
                    x.innerHTML = "star";
                }
            })
        } else {
            $.ajax({
                type: "PUT",
                url: `/fav/remove/${shopId}/ws`,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrf);
                },
                success: function(data, status, xhr) {
                    x.innerHTML = "star_border";
                }
            })
        }
    }
</script>

<div class="row row-flex">
	{% for shop in shops %}
	<div class="card z-depth-5 col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
		<div class="card-content">
			<h3>{{ shop.name }}</h3>
			<p class="shop-description">{{ shop.description }}</p>
			<p class="shop-web">{{ shop.webURL }}</p>
			<p>{{ shop.serviceType }}</p>
			<div class="input-group">
				<span class="input-group-btn">
                    <button 
                        onclick="toggleFav(this, {{ shop.id }}, '{{ csrf_token }}')" 
                        class="btn-floating waves-effect waves-light teal" type="submit">
                            <i class="medium material-icons">
                                {% if shop.id in favs %}
                                    star
                                {% else %}
                                    star_border
                                {% endif %}
                            </i>
                    </button>
                </span>
			</div>
            
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}